%h1 Container reports
= button_tag 'Parse all', onclick: 'parse_all();'
= render 'shared/reports_table', reports: @container.reports

%h1 Upload Report
= form_with(model: Report, url: reports_path, multipart: true) do |f|
  = f.hidden_field :container_id, value: @container.id
  = f.label :file
  = f.file_field :file
  = f.submit 'Upload'

%h1 Change container date
= form_for @container do |f|
  = f.label :date
  = f.date_field :date, value: @container.date
  = f.submit 'Update'

:javascript
  async function parse_all() {
    fetch("/containers/#{@container.id}/parse");
    return;
  }
