%h1 Uploaded reports

%table{:border => 1}
  %thead
    %tr
      - ['Report', 'Header?', 'Instructions?', 'Parsed?'].each do |data|
        %td= data
  %tbody
    - @reports.each do |r|
      %tr
        %td= link_to r.name, report_path(r)
        %td= link_to (r.header ? 'Y' : 'N'), select_head_path(r)
        %td= link_to (r.header&.instruction ? 'Y' : 'N'), new_report_instruction_path(r)
        %td= r.parsed ? 'Y' : 'N'
        %td
          = button_tag 'Parse', disabled: r.header&.instruction.nil?, class: 'btn-parse', data: { report_id: r.id }

:javascript
  function parse(report_id) {
    console.log('parsing', report_id);
    return;
  }

  const buttons = document.querySelectorAll('.btn-parse');
  buttons.forEach((btn) => {
    btn.addEventListener('click', (e) => {
      const id = e.target.getAttribute('data-report-id');
      parse(id);
    });
  });
