%h3 Reports
%span
  = link_to 'Unifier Report', unifier_report_path(@report)

%h3 Unknown (#{@unknown.count})
%ol
  - @unknown.each do |retailer|
    %li
      %p= link_to retailer.name, edit_retailer_path(retailer)
%h3 Known (#{@known.count})
%ol
  - @known.each do |retailer|
    %li
      %p= link_to retailer.name, edit_retailer_path(retailer)
